<footer>
    <link rel="stylesheet" href="/css/footer.css">
    
    <div class="footer-content">
        <div class="logo_footer">
            <img src="/img/logo_footer.png" alt="Tomorrowland Logo">
        </div>
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-x-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fab fa-tiktok"></i></a>
            <a href="#" target="_blank"><i class="fab fa-discord"></i></a>
        </div>
    </div>
    
    <hr>
    
    <div class="footer-links">
        <div class="footer-section">
            <h3>Tierra del Mañana Bélgica</h3>
            <ul>
                <li><a href="#">Bienvenido</a></li>
                <li><a href="#">Práctico</a></li>
                <li><a href="#">Entradas</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Invierno de Tomorrowland</h3>
            <ul>
                <li><a href="#">Bienvenido</a></li>
                <li><a href="#">Práctico</a></li>
                <li><a href="#">Entradas</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Tomorrowland Brasil</h3>
            <ul>
                <li><a href="#">Bienvenido</a></li>
                <li><a href="#">Práctico</a></li>
                <li><a href="#">Entradas</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Tomorrowland Presenta</h3>
            <ul>
                <li><a href="#">Calendario de eventos</a></li>
            </ul>
        </div>
    </div>
</footer>
