<header>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <script src="/js/main.js"></script>

  <!-- Encabezado con men煤 de navegaci贸n -->
  <nav class="navbar fixed-top maine-menu">
    <div class="header">
      <button class="navbar-toggler">
        <i class="fa-solid fa-bars"></i>
      </button>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a href="/" class="logo-container">
            <img src="/img/logo.jpg" alt="Logo Tomorrowland" class="logo">
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#">Festival y Eventos</a>
          <div class="dropdown">
            <ul>
              <li><a href="/belgica">Tomorrowland B茅lgica</a></li>
              <li><a href="#">Invierno de Tomorrowland</a></li>
              <li><a href="#">Tomorrowland Brasil</a></li>
              <li><a href="#">Tomorrowland Presenta</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">M煤sica</a>
          <div class="dropdown">
            <ul>
              <li><a href="/radio">One World Radio</a></li>
              <li><a href="#">Tomorrowland Music</a></li>
              <li><a href="#">Tomorrowland Academy</a></li>
              <li><a href="#">One World Artists</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="/experience">Experiencias</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tienda</a></li>
        <li class="nav-item"><a class="nav-link" href="#">M谩s</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contacto</a></li>
        <!--  Contenedor de la derecha con bot贸n de sesi贸n y buscador -->
        <div class="navbar-right">
          <a href="/auth/login" class="account-btn">
            <i class="fa fa-sign-in-alt"></i> Iniciar Sesi贸n
          </a>
          <div class="search-container">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" class="search-input" placeholder="Buscar...">
          </div>
        </div>
      </ul>
    </div>
  </nav>
</header>

<!-- Limpiar el search -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.querySelector(".search-input");

    searchInput.addEventListener("blur", function () {
      setTimeout(() => {
        if (!this.matches(":focus")) {
          this.value = "";
        }
      }, 100);
    });
  });
</script>
