html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

footer {
    position: relative;
    background: linear-gradient(to bottom, rgba(27, 27, 27, 0.9), rgba(0, 0, 0, 0.9)), url('/img/footer.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    max-width: none;
    margin-top: auto;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0;
}

.logo_footer img {
    filter: brightness(0) invert(1);
}

.footer-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo_footer img {
    width: 80px;
}

.logo_footer p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.social-icons {
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 15px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #00aeef;
    transform: scale(1.2);
}

hr {
    width: 100%;
    margin-top: 25px;
    max-width: 700px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.footer-links {
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-section h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .logo_footer img,
    .social-icons {
        text-align: center;
        justify-content: center;
        display: flex;
        margin-bottom: 20px;
    }
    
    .footer-content {
        align-items: center; /* Mantener el logo e iconos centrados */
    }
    
    .footer-links {
        width: 100%;
        justify-content: flex-start; /* Alinear el contenido de las secciones a la izquierda */
        text-align: left;
        padding-left: 20px;
    }
    
    .footer-section h3,
    .footer-section ul li {
        text-align: left;
    }
    
    
}
