* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT-Sans-Regular", Arial, sans-serif;
    background: black;
    color: #fff;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
}

.header {
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    backdrop-filter: blur(10px);          /* Efecto de desenfoque */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 15px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
    list-style: none;
}

.navbar-nav .nav-item a {
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    margin: 5px 0;
    font-family: "PT-Sans-Bold";
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    padding: 10px 15px;
}


.navbar-nav .nav-item:not(:first-child):hover {
    background: rgba(58, 152, 255, 0.6);
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.account-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: bold;
    background-color: #1E6FD9;
    color: white;
    border: 2px solid #3A98FF;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.account-btn i {
    font-size: 16px;
}

.account-btn:hover {
    background-color: #3A98FF;
    color: white;
    text-decoration: none;
}

.maine-menu .navbar-nav li {
    position: relative;
}

.dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown.show-dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
}


.maine-menu .navbar-nav li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 1);
    backdrop-filter: blur(8px);
    width: 220px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.maine-menu .navbar-nav li .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.maine-menu .navbar-nav li .dropdown ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 6px 8px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}



.maine-menu .navbar-nav li .dropdown ul li a:hover {
    background: none;
    border-bottom: 3px solid #3A98FF;
    padding-bottom: 10px;
}

.maine-menu .navbar-nav li:hover>a {
    color: rgba(255, 255, 255,);
}

.maine-menu .navbar-nav li.active>a {
    color: #3afffc;
    font-weight: bold;
}

.maine-menu .navbar-nav li:focus-within>.dropdown {
    display: block;
}


.search-container {
    position: absolute;
    display: flex;
    align-items: center;
}

.navbar-right .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #3a98ff;
    color: white;
    box-shadow: 0 0 10px rgba(58, 152, 255, 0.6);
}

/*Buscador**/
.search-container {
    position: relative;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    position: absolute;
    right: 12px;
    font-size: 16px;
    color: white;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.search-input {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #3a98ff;
    background: transparent;
    color: white;
    font-size: 15px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    outline: none;
    box-shadow: 0 0 10px rgba(58, 152, 255, 0.6);
    padding-right: 30px;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0);
    transition: color 0.3s ease-in-out;
}

.search-input:focus {
    width: 140px;
}

.search-container:hover .search-input,
.search-input:focus {
    width: 160px;
    height: 35px;
    border-radius: 20px;
    padding-left: 12px;
    text-align: left;
}

.search-container:hover .search-input::placeholder,
.search-input:focus::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-container .search-icon {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.search-input:not(:placeholder-shown)~.search-icon {
    opacity: 0.5;
}

.search-container:not(:focus-within) .search-input:placeholder-shown~.search-icon {
    display: block;
}

/* Ocultar el botón de menú en escritorio */
.navbar-toggler {
    display: none;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .navbar-nav.menu-open {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 5px 0;
    }

    .navbar-nav .nav-item {
        margin: 10px 0; /* Reducir este margen */
    }
    
    .navbar-nav .nav-item a {
        font-size: 18px; /* Tamaño ajustado para mayor legibilidad */
        padding: 5px 15px; /* Reducir padding interno */
        margin: 2px 0; /* Menos margen entre títulos */
    }

    .navbar-toggler {
        position: relative;
        z-index: 1001;
    }

    .navbar-toggler {
        display: block;
        font-size: 24px;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
    }

    .navbar-nav {
        display: none;
        align-items: flex-start; 
        flex-direction: column;
        padding: 10px;
    }

    .navbar-toggler.active+.navbar-nav {
        display: flex;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-nav.menu-open {
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9); /* Fondo más oscuro y sólido */
        padding: 10px;
    }

    .maine-menu .navbar-nav li {
        position: relative;
    }

    .maine-menu .navbar-nav li .dropdown {
        position: absolute;
        top: 0;
        left: 100%; /* Aparece al lado derecho */
        background: rgba(0, 0, 0, 0.9);
        width: 220px;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
        z-index: 1000;
    }
    
}

.maine-menu .navbar-nav li:hover .dropdown {
    display: block;
}
