html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    padding-top: 5%;
    display: flex;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black),
        url("/img/banner-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    min-height: calc(100vh + 150px);
    padding-bottom: 50px; 
}

.register-box {
    position: relative;
    max-width: 400px;
    width: 90%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(58, 152, 255, 0.6);
    border-radius: 10px;
    text-align: center;
    background-size: contain;
    background-position: center;
    margin-bottom: 50px; 
}

.register-box button {
    background: transparent;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}


.register-box h2 {
    font-family: Arial, sans-serif;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 32px; /* Tamaño grande por defecto */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.register-box .user-box {
    position: relative;
}

.register-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.register-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.register-box .user-box input:focus~label,
.register-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #00aeef;
    font-size: 12px;
}

.register-box form a,
.register-box button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #00aeef;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    white-space: nowrap;

}

.register-box a:hover,
.register-box button:hover {
    background: transparent;
    color: #fff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #00aeef,
        0 0 25px #00aeef,
        0 0 50px #00aeef,
        0 0 100px #00aeef;
}

.register-box a span,
.register-box button span {
    position: absolute;
    display: block;
}

.register-box a span:nth-child(1),
.register-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00aeef);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.register-box a span:nth-child(2),
.register-box button span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00aeef);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 2.5;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.register-box a span:nth-child(3),
.register-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00aeef);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.register-box a span:nth-child(4),
.register-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00aeef);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.5s;
}


@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

/* Ajuste para vista móvil */
@media (max-width: 768px) {
    .register-box h2 {
        font-size: 26px; /* Igual al tamaño del título en el login */
    }
}

/* Para asegurar consistencia con el login */
.login-box h2 {
    font-size: 26px; /* Asegurar que ambos formularios tengan el mismo tamaño */
}