html,
body {
    height: 100%;
    margin: 0;
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/img/banner-img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.container .container-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
}

.map {
    flex: 1;
    max-width: 45%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.contact-structure {
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.contact-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(58, 152, 255, 0.6);
    text-align: center;
}

.contact-box button {
    background: transparent;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}


.contact-box h2 {
    font-family: Arial, sans-serif;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 22px;
    max-width: 100%;
    white-space: nowrap;
}

.contact-box .contacts-box {
    position: relative;
}

.contact-box .contacts-box input,
textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contact-box .contacts-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.contact-box .contacts-box input:focus~label,
.contact-box .contacts-box input:valid~label,
.contact-box .contacts-box textarea:focus~label,
.contact-box .contacts-box textarea:valid~label {
    top: -20px;
    left: 0;
    color: #00aeef;
    font-size: 12px;
}

.contact-box form a,
.contact-box button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #00aeef;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    white-space: nowrap;

}

.contact-box a:hover,
.contact-box button:hover {
    background: transparent;
    color: #fff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #00aeef,
        0 0 25px #00aeef,
        0 0 50px #00aeef,
        0 0 100px #00aeef;
}

.contact-box a span,
.contact-box button span {
    position: absolute;
    display: block;
}

.contact-box a span:nth-child(1),
.contact-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00aeef);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.contact-box a span:nth-child(2),
.contact-box button span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00aeef);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 2.5;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.contact-box a span:nth-child(3),
.contact-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00aeef);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.contact-box a span:nth-child(4),
.contact-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00aeef);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

@media (max-width: 768px) {
    .container .container-filter {

        flex-direction: column;
        /* Apila los elementos verticalmente */
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* Reducir el padding para móviles */
    }

    .map,
    .contact-structure {

        max-width: 100%;
        /* Ocupa el 100% del ancho en móviles */
        width: 100%;
        margin-bottom: 20px;
        /* Espacio entre el mapa y el formulario */
    }

    .map {
        padding-top: 25%;
        height: 300px;
        /* Reducir la altura del mapa en móviles */
    }

    .contact-box {
        padding-top: 20%;
        max-width: 100%;
        /* El formulario ocupa todo el ancho */
    }
}