
<head>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap" rel="stylesheet">
    
    <!-- Estilos de la página 404 -->
    <link rel="stylesheet" href="/css/404.css">
</head>

<div class="container">
    <div class="content">
        <h1>404</h1>
        <h2>PÁGINA NO ENCONTRADA</h2>
        <p>
            La página que está buscando se ha movido, eliminado, cambiado de nombre o es posible que nunca haya existido.
        </p>
        <div class="action">
            <a href="/">
                <button>ATRÁS</button>
            </a>
            <a href="/contact">
                <button>CONTÁCTENOS</button>
            </a>
        </div>
    </div>
</div>

