<%- include('../partials/header') %>

<head>
    <!-- Estilos de la página de inicio -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/migas_de_pan.css">
    <script src="/js/main.js"></script>
    <title>Tomorrowland</title>
</head>

<div class="container">
    <!-- Contenedor para las migas de pan -->
    <div class="breadcrumb-wrapper">
        <div id="breadcrumb-placeholder"></div>
    </div>

    <div class="container-fluid fh5co-home-banner">
        <div class="card">
            <div class="card-img-overlay">
                <div class="center-text">
                    <h2 class="index-title"><%= articulo ? articulo.titulo : "Tomorrowland" %></h2>
                    <a href="#" class="btn">
                        <svg width="201" height="51" viewBox="0 0 201 51">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke-width: 1px;
                                        stroke: url(#linear-gradient);
                                    }
                                </style>
                                <linearGradient id="linear-gradient" x1="140.508" y1="50.5" x2="60.492" y2="0.5"
                                    gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#00aeef" />
                                    <stop offset="1" stop-color="#fff" />
                                </linearGradient>
                            </defs>
                            <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" x="0.5"
                                y="0.5" width="200" height="50" rx="25" ry="25" />
                        </svg>
                        LINE-UP POR DÍA
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Incluir el footer -->
<%- include('../partials/footer') %>
